<h1>CMS for Static Site Building</h1>
<h3>Admin Page</h3>
<hr/>

<p>This page allows an admin to create and preview posts</p>

<hr/>

<p><%= link_to 'Posts', posts_path %></p>
<p><%= link_to 'Home', home_index_path %></p>
