<div class="contact">
  <img id="e64-character" src="/assets/character.svg"
	style="max-width: 5em;"
	alt="Epitaph64 Character"><br/>
  <a href="https://github.com/Epitaph64">Github</a><br/>
  <a href="https://epitaph64.newgrounds.com/audio/">Newgrounds</a><br/>
  <a href="https://twitter.com/Epitaph64">Twitter</a>
</div>
